<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2022 AIAOS Lab. This website used the open-source <a href="https://github.com/mpa139/allanlab" target="_blank" >template</a> on Github.</p>
		</div>
		<div class="col-sm-6">
		  Contact:<br/>
		  2250 Shealy Dr.<br/>
		  Gainesville, FL 32611<br/>
            (<a href="https://goo.gl/maps/sSp4TARdkfcyBc3f8" target="_blank" >Google Maps</a>)
		</div>
		<div class="col-sm-2">	
			<div style="height: 55px;">
				<img src="{{ site.url }}{{ site.baseurl }}/images/logo/uf.jpg" style="width:250px">
			</div>
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
